<div class="mainFooter container-fluid mt-6">
  <div class="card bg-white mx-6">
    <div class="row mb-4">
      <div class="mainFooterDescription col-md-8 col-sm-8 col-xs-8">
        <div class="footer-text pull-left">
          <div class="d-flex">
            <h1 class="mainLogo font-weight-bold mr-2 px-3" style="color:white; background-color:#17a2b8">Info</h1>
            <h1 style="color: #17a2b8">Car</h1>
          </div>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi non pariatur numquam animi nam at impedit odit nisi.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <h5 class="heading">Services</h5>
        <ul>
          <li>Development</li>
          <li>Support</li>
        </ul>
      </div>
    </div>
    <div class="divider mb-4"> </div>
    <div class="row" style="font-size:10px;">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="pull-left">
          <p><i class="fa fa-copyright"></i> 2020 thezpdesign</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="pull-right mr-4 d-flex policy">
          <div>Terms of Use</div>
          <div>Privacy Policy</div>
          <div>Cookie Policy</div>
        </div>
      </div>
    </div>
  </div>
</div>
