.componentTitle{
  margin-top: 10px;
}

li{
  list-style-type: none;
}

.buttonWrapper{
  padding: 0;
  margin-bottom: 17px;
}

.carButtonGroup .buttonWrapper:not(:last-child){
  padding-right: 4px!important;
}

.buttonWrapper button{
  height: 100%;
}

.carModel, .carOptions_title, .editFormTitle{
  margin-bottom: 5px;
}

.carOptions_ul, .carInfo_ul, .carOptions_li{
 padding-left: 0;
}

.delete-btm{
  font-size: 1em;
  padding: 3px 3px 7px;
  line-height: 5px;
  vertical-align: center;
  position: absolute;
  right: -30px;
}

.editForm {
  margin-top: 15px;
}
.editForm input:not(:last-child) {
  margin-bottom: 5px;
}
