.componentTitle{
  margin-top: 10px;
}

.carBtn{
  margin: 5px;
}

li{
  list-style-type: none;
}

.carModel, .carOptions_title{
  margin-bottom: 5px;
}

.buttonWrapper{
  padding: 0;
}
.carOptions_ul, .carInfo_ul, .carOptions_li{
 padding-left: 0;
}

.delete-btm{
  font-size: 1em;
  padding: 3px 3px 7px;
  line-height: 5px;
  vertical-align: center;
  position: absolute;
  right: -30px;
}
